

.text-fld-2 {
    height: 56px;
}



/* .text-fld-2.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #000 !important;
} */


.text-fld-2-error {
        color: #c96262 !important;

}
.text-fld-2-input-lbl {
    color: #cfcfcf !important;
}

.text-fld-2-input-lbl-error {
    color: #c96262 !important;
}

.text-fld-2-helper-text-error {
    color: #c96262 !important;
}


.text-fld-2 .MuiOutlinedInput-input {
    padding-bottom: 0px !important;
}

.text-fld-2.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #000 !important;
}

.text-fld-2-select {
    height: 56px;
}

.text-fld-2-select .MuiSelect-select {
    padding-bottom: 0px !important;
}

.text-fld-2-select.Mui-focused .MuiOutlinedInput-notchedOutline {
    border: 1px solid #000 !important;
}

.fld-long {
    width: 300px;
}


.otp-input-style {
    width: 30px;
    height: 40px;
    font-size: 20px;
    display: flex;
    margin: 5px;
    justify-content: center;
    align-items: center;
  
    border: 0x dashed red !important;
    outline: 0.5px dashed #cfcfcf !important;
}


.otp-container-style {
    /* width: 60px; */
    gap: 8px;
    display: flex;
    border-radius: 20px;
    border: 1px solid #cfcfcf;
    justify-content: center;
    align-items: center;
   
}

.otp-input {
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  font-size: 2rem;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.otp-input.filled {
  border: 2px solid green;
}

.otp-input.special {
  border: 2px solid red;
  border-radius: 16px;
}

.otp-input:focus {
  border: 2px solid blue;
  outline: none;
}