html,
body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.main_subordinate {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.footer_subordinate {
    margin-top: 0;
}


footer {
    margin-top: auto;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 2px;
    padding: 2px;
    box-sizing: border-box;
}

footer nav > ul {
    margin:4px;
    padding-left: 1rem;
}

@media (max-width: 300px) {
    footer nav {
        flex-direction: column;
        align-items: center;
    }
    
    footer nav > div {
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid red;
    }
}
