html,
body {
    height: 100%;
    margin: 0;
    color: #000000;
}

body {
    display: flex;
    flex-direction: column;
}

.main_subordinate {
    flex: 1;
    overflow-y: auto;
    min-height: 0;
}

.footer_subordinate {
    margin-top: 0;
}


footer {
    margin-top: auto;
}

footer nav {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    gap: 2px;
    padding: 2px;
    box-sizing: border-box;
}

footer nav>ul {
    margin: 4px;
    padding-left: 1rem;
}

@media (max-width: 300px) {
    footer nav {
        flex-direction: column;
        align-items: center;
    }

    footer nav>div {
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid red;
    }
}


.toolset-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #E0E0E0;
    background-color: white;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.toolset-button:active {
    border: none;
    background-color: rgba(40, 133, 86, 0.1);
}

.send-button {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.send-button:disabled {
    border: 1px solid #E0E0E0;
    color: #B8B8B8;
}


.send-button:enabled {
    border: none;
    background-color: #288556;
    color: white;
}